Total Rows: 41177

In [35]:
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap

# Reading the dataframes from 2018 and 2019
df_18 = pd.read_csv('delays_2018.csv')
df_19 = pd.read_csv('delays_2019.csv')

# Merging 2018 and 2019 to a single Dataframe using .concat
df = pd.concat([df_18, df_19], ignore_index=True)

print('Total Rows: ' + str(len(df_18) + len(df_19)))

In [18]:
# Changing the date column in df to date format YYYY-M

df['date'] = pd.to_datetime(df['date'], format='%Y-%m')

# Remove rows containing invalid data.
df = df[(df['date'] >= '2018-01') & (df['date'] <= '2019-12') & (df['arr_flights'].notnull())
              & (df['carrier'].notnull()) & (df['carrier_name'].notnull()) 
              & (df['airport'].notnull()) & (df['airport_name'].notnull())]

print(str(len(df)))

In [33]:
# Identify the airports in the state of Tennessee.
df['TN'] = df['airport_name'].apply(lambda x: x.find('TN'))

# Create a set of airport names (to eliminate the duplicates)
airports = set(df[df['TN'] != -1]['airport_name'])

print('TN Airports:  ' + str(airports))

airport    MCO
carrier
9E         1.0
AA        83.0
AS        18.0
B6       116.0
DL       115.0
EV         0.0
F9        28.0
NK        85.0
OO         0.0
UA        83.0
VX         1.0
WN       251.0
YX         0.0

NameError: name 'diverted_arrivals' is not defined